@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
}

main {
    display: flex;
    justify-content: space-around;
}

nav {
    background-color: #B0FFD3;
    display: flex;
    justify-content: flex-start;
    padding: 10px;
    margin-bottom: 3%;
}

nav h1 {
    color: #36454F;
}

.Left-side {
    display: flex;
    flex-direction: column;
    background-color: #F8FAFB;
    border-radius: 20px;
    padding: 20px;
}

.Right-side {
    display: flex;
    flex-direction: column;
}

.second-line, .third-line {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    gap: 30px;
}

.Income {
    display: flex;
    flex-direction: row;
    background-color: #B0FFD3;
    padding: 10px;
    border-radius: 10px;
}

.Income h2 {
    color: #36454F;
}

.Income-Details {
    display: flex;
    flex-direction: row;
    margin-left: 20px;
}

.Income-Details input, select {
    border-radius: 10px;
    display: flex;
}

.Income-Details select {
    margin-left: 10px;
}

.Income-Details input {
    margin-left: 3px;
    padding: 5px;
    width: 150px;
    height: 30px;
    display: flex;
    align-self: center;
}

.Income-Details p {
    display: flex;
    align-items: center;
    font-size: 18px;
    color: #36454F;
}

.Needs-var, .Wants-var, .Savings-var {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #B0FFD3;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding: 10px;
}

.Needs-var img {
    height: 5px;
}

.Needs-inputs, .Wants-inputs, .savings-inputs {
    display: flex;
    flex-direction: column;
    background-color: #d4fce8;
    padding: 10px;
    gap:10px;

}

.Needs-inputs p, .Wants-inputs p, .savings-inputs p {
    display: inline-flex;
}

.Needs-inputs input, .Wants-inputs input, .savings-inputs input {
    max-width: 120px;
    min-width: 120px;
}

button {
    background-color: #d4fce8;
    border: none;
    text-align:right;
    cursor: pointer;
}

.add-expense {
    display: flex;
    justify-content: flex-end;
    background-color: #d4fce8;
    align-items:center;

}

.retirement, .college-savings, .emergency-fund, .housing, .utilities, .food, .healthcare, .loans {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
}

.third-line {
    padding-right: 100px;
}